Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2022-12, with the labels that each got.

#1363 feat: Add support for numbered checkboxes
  src/Task.ts
  tests/Task.test.ts
Labels: scope: parsing markdown - and global filter

#1365 feat: Add a 'priority is not' filter option
  docs/queries/filters.md
  docs/quick-reference/index.md
  src/Query/Filter/PriorityField.ts
  tests/Query/Filter/PriorityField.test.ts
Labels: scope: filters

#1412 fix: Feature Request template link 'Ideas in Discussions' was broken
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: type: internal

#1426 feat: 'group by filename' now links to the note
  docs/queries/grouping.md
  src/Query/Group.ts
  tests/Group.test.ts
Labels: scope: grouping
