Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2022-09, with the labels that each got.

#1113 fix: Correctly scale the pencil icon for all font sizes
  styles.css
Labels: scope: css styling

#909 fix: Show any markdown in group headings correctly
  resources/sample_vaults/Tasks-Demo/Manual Testing/Markdown in group _non-italic filename_.md
  src/Query/Group.ts
  src/QueryRenderer.ts
  tests/Group.test.ts
Labels: type: bug, scope: rendering of tasks

#1139 feat: Add option to show urgency. More space before pencil icon.
  docs/advanced/styling.md
  docs/advanced/urgency.md
  docs/queries/layout.md
  docs/quick-reference/index.md
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
  src/LayoutOptions.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  styles.css
  tests/Query.test.ts
Labels: scope: rendering of tasks, scope: urgency
