Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2023-03, with the labels that each got.

#1710 chore: Update all references to CONTRIBUTING.md
  .github/pull_request_template.md
  README.md
  contributing/.obsidian/app.json
  contributing/Documentation/About Documentation.md
  contributing/Documentation/Embedding code and data in documentation.md
  contributing/Documentation/How do I update the Tables of Contents in CONTRIBUTING and similar.md
  contributing/Testing/How do I smoke-test the Tasks plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Labels: scope: documentation

#1714 chore: contributing: add 'Useful links', rename FAQs & more
  contributing/.obsidian/app.json
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/reveal-active-file-button/main.js
  contributing/.obsidian/plugins/reveal-active-file-button/manifest.json
  contributing/Code/About Code.md
  contributing/Code/How do I add a new field to the Task class.md
  contributing/Code/How do I add a new task filter.md
  contributing/Code/How do I add one-click support for new themes or snippets for custom statuses.md
  contributing/Code/How does Tasks handle status changes.md
  contributing/Dependencies/About Dependencies.md
  contributing/Dependencies/Thought-Process for Deciding Whether a Dependency Needs Manual Testing.md
  contributing/Documentation/Embedding code and data in documentation.md
  contributing/Documentation/How the documentation is generated.md
  contributing/FAQs/About FAQs.md
  contributing/Useful Links.md
  contributing/Welcome.md
Labels: scope: documentation

#1712 fix: Simplify cursor repositioning during the 'ToggleDone' command
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Labels: scope: commands

#1733 fix: render Tasks in canvas
  src/QueryRenderer.ts
Labels: scope: rendering of tasks

#1723 feat: add created date to task
  docs/getting-started/dates.md
  docs/queries/layout.md
  docs/quick-reference/index.md
  src/Commands/CreateOrEditTaskParser.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Query/Query.ts
  src/Task.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TaskLineRenderer.test.ts
  tests/TestingTools/TaskBuilder.ts
Labels: type: enhancement, scope: task dates and times

#1734 feat: Add searches on date ranges
  docs/queries/filters.md
  docs/quick-reference/index.md
  src/Query/DateParser.ts
  src/Query/Filter/DateField.ts
  tests/Query.test.ts
  tests/Query/DateParser.test.ts
  tests/Query/Filter/DueDateField.test.due_date approval tests.approved.md
  tests/Query/Filter/DueDateField.test.ts
Labels: scope: filters

#1735 fix: Tooltip pop up above the description of task in short mode
  src/TaskLineRenderer.ts
  styles.css
Labels: scope: css styling

#1744 feat: Add filter, group and sorting for created date
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/sorting.md
  docs/quick-reference/index.md
  src/Query/Filter/CreatedDateField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
Labels: scope: filters, scope: task dates and times

#1745 feat: Add created date to EditTask modal
  src/ui/EditTask.svelte
Labels: scope: user interface, scope: task dates and times

#1736 feat: Add public API to retrieve markdown string for a new task via the Task UI
  docs/advanced/api.md
  docs/images/api-create-taskline-modal-quickadd-capture-example.png
  src/Api/TasksApiV1.ts
  src/Api/createTaskLineModal.ts
  src/Api/createTaskLineModalHelper.ts
  src/Api/index.ts
  src/main.ts
  tests/Api/createTaskLineModal.test.ts
Labels: scope: for plugin developers

#1752 docs: Add more info to API docs
  docs/advanced/api.md
  docs/getting-started/create-or-edit-task.md
  docs/images/quickadd-settings-configure-capture.png
  docs/images/quickadd-settings-create-capture.png
Labels: scope: documentation

#1753 docs: Fix a broken link I created in #1752
  docs/getting-started/create-or-edit-task.md
Labels: scope: documentation

#1749 feat: Add filters for tag presence and absence
  docs/queries/filters.md
  docs/quick-reference/index.md
  src/Query/Filter/TagsField.ts
  tests/Query.test.ts
  tests/Query/Filter/TagsField.test.ts
Labels: scope: filters, scope: tags

#1754 docs: Adopt 'absolute' & 'relative' instead of 'formal & natural language'
  contributing/Testing/Example Tests.md
  docs/queries/filters.md
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
  tests/Query/Filter/DueDateField.test.ts
Labels: scope: documentation, scope: filters

#1757 chore: Configure jest to work with Svelte components.
  jest.config.js
  package.json
  svelte.config.js
  tests/EditTask.test.ts
  yarn.lock
Labels: type: internal

#1762 feat: ‘Create or edit Task’ Modal usability improvements
  src/ui/EditTask.svelte
  styles.css
Labels: type: enhancement, scope: user interface

#1772 fix: Prevent exception if toggling in unsaved file in Reading mode
  src/File.ts
  tests/File.test.replaceTaskWithTasks_issue 1680 - Cannot read properties of undefined correct behaviour.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 1680 - Cannot read properties of undefined current incorrect behaviour.approved.txt
  tests/File.test.ts
  tests/__test_data__/MockDataForTogglingTasks/1680_task_line_number_past_end_of_file.json
Labels: scope: data integrity

#1775 chore: Introduce 'contrib' Conventional Commit prefix for contributing docs
  .github/pull_request_template.md
Labels: type: internal

#1776 contrib: Status change docs more readable and include modal
  contributing/.obsidian/appearance.json
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/table-editor-obsidian/data.json
  contributing/.obsidian/plugins/table-editor-obsidian/main.js
  contributing/.obsidian/plugins/table-editor-obsidian/manifest.json
  contributing/.obsidian/plugins/table-editor-obsidian/styles.css
  contributing/.obsidian/snippets/table-top-align.css
  contributing/Code/How does Tasks handle status changes.md
  contributing/publish.css
Labels: type: internal

#1780 fix: Major improvements to toggling tasks in Reading view
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/1680 - Reading Mode line numbers not updated on editing.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in blockquotes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in callouts.md
  src/Cache.ts
  src/File.ts
  src/lib/logging.ts
  src/main.ts
  tests/File.test.replaceTaskWithTasks_issue 1680 - Cannot read properties of undefined correct behaviour.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 1680 - Cannot read properties of undefined current incorrect behaviour.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 1680 - Cannot read properties of undefined.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 688 - block referenced task correct behaviour.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 688 - block referenced task current incorrect behaviour.approved.txt
  tests/File.test.replaceTaskWithTasks_issue 688 - block referenced task.approved.txt
  tests/File.test.ts
Labels: scope: data integrity

#1781 docs: Update description field docs for #1762 improvements
  docs/getting-started/create-or-edit-task.md
  docs/images/modal.png
Labels: scope: documentation

#1782 refactor: More logical order of default settings values
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  src/Config/Settings.ts
Labels: type: internal

#1784 docs: Add appendix showing date filter changes
  docs/queries/filters.md
Labels: scope: documentation

#1785 docs: Bump the next version to 2.0.0
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/layout.md
  docs/queries/sorting.md
Labels: scope: documentation

#1787 docs: Bump the next version to 2.0.0 in more docs files
  docs/advanced/api.md
  docs/getting-started/create-or-edit-task.md
  docs/getting-started/dates.md
Labels: scope: documentation

#1789 vault: Update Tasks plugin to 2.0.0 in sample vault
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Labels: scope: sample vault

#1801 fix: Speed up drawing of Tasks blocks after 2.0.0 release
  docs/getting-started/index.md
  src/QueryRenderer.ts
Labels: scope: performance issues, scope: rendering of tasks

#1773 refactor: Make Editor Suggestions more modular
  src/Config/Settings.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  tests/EditorSuggest.test.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#1805 fix: 'group by filename' links now work on filenames with underscores
  src/Query/Group.ts
  tests/Group.test.ts
Labels: scope: grouping

#1519 feat: New CSS classes for "themeability"
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-smoke-test-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
  src/InlineRenderer.ts
  src/QueryRenderer.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/Task.test.ts
  tests/TaskLineRenderer.test.ts
Labels: type: enhancement, scope: css styling

#1808 docs, vault: Finalise CSS content for next release
  docs/advanced/styling.md
  docs/how-to/style-backlinks.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-backlinks-icon.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-circular-checkboxes.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-color-due-today-and-overdue.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-complete-example.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-grid-layout.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-green-glow.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-round-red-description.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-priority-as-checkbox-color.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-custom-statuses.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-tags-links-recurrence-gray.css
Labels: scope: css styling

#1817 feat: Add CSS Status Type & Status Name selectors - by @esm7
  docs/advanced/styling.md
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Labels: scope: css styling
