Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2023-04, with the labels that each got.

#1823 contrib: Add tips for developing Tasks with WebStorm
  contributing/Building/About Building.md
  contributing/Building/Developing with WebStorm.md
Labels: scope: documentation, type: internal

#1821 docs: Add screenshots using the CSS snippets
  docs/advanced/styling.md
  docs/images/tasks-plugin-circular-checkboxes-snippet.png
  docs/images/tasks-plugin-color-due-today-and-overdue-snippet.png
  docs/images/tasks-plugin-complete-example-snippet.png
  docs/images/tasks-plugin-grid-layout-snippet-query.png
  docs/images/tasks-plugin-grid-layout-snippet-reading.png
  docs/images/tasks-plugin-highlight-specific-tag-green-glow-snippet.png
  docs/images/tasks-plugin-highlight-specific-tag-round-red-description-snippet.png
  docs/images/tasks-plugin-priority-as-checkbox-color-snippet.png
  docs/images/tasks-plugin-style-status-symbols-snippet.png
  docs/images/tasks-plugin-style-status-types-snippet.png
  docs/images/tasks-plugin-tags-links-recurrence-gray-snippet.png
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins-migration.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-color-due-today-and-overdue.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-symbols.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-types.css
  resources/sample_vaults/Tasks-Demo/Styling/Sample Tasks for Styling Documentation.md
Labels: scope: documentation, scope: css styling

#1825 fix: Reading mode: nested bullets work in sample grid CSS
  docs/advanced/styling.md
  docs/images/tasks-plugin-grid-layout-snippet-query.png
  docs/images/tasks-plugin-grid-layout-snippet-reading.png
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-complete-example.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-grid-layout.css
  resources/sample_vaults/Tasks-Demo/Styling/Sample Tasks for Styling Documentation.md
Labels: scope: css styling

#1826 docs: Further refinement of docs for CSS snippets
  docs/advanced/styling.md
  docs/how-to/style-backlinks.md
  docs/images/tasks-plugin-complete-example-snippet.png
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-backlinks-icon.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-complete-example.css
  resources/sample_vaults/Tasks-Demo/Styling/Sample Tasks for Styling Documentation.md
Labels: scope: documentation, scope: css styling

#1793 refactor: introduce GlobalFilter class
  src/Config/GlobalFilter.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/File.ts
  src/InlineRenderer.ts
  src/Query/Filter/DescriptionField.ts
  src/Query/Query.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Task.ts
  src/TaskLineRenderer.ts
  src/ui/EditTask.svelte
  tests/Commands/CreateOrEditTaskParser.test.ts
  tests/Commands/ToggleDone.test.ts
  tests/EditTask.test.ts
  tests/GlobalFilter.test.ts
  tests/Query.test.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Task.test.ts
  tests/TaskLineRenderer.test.ts
Labels: scope: parsing markdown - and global filter

#1756 feat: Search for numbered week, month, quarter & year ranges
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
  tests/Query/Filter/DueDateField.test.ts
Labels: scope: filters

#1839 contrib,fix: Updates for conversion to Obsidian Publish
  README.md
  contributing/.obsidian/core-plugins-migration.json
  contributing/.obsidian/core-plugins.json
  contributing/Dependencies/About Dependencies.md
  contributing/Documentation/About Documentation.md
  contributing/Documentation/Adding Tables of Contents to rendered docs.md
  contributing/Documentation/Callouts.md
  contributing/Documentation/Documentation and branches.md
  contributing/Documentation/Embedding code and data in documentation.md
  contributing/Documentation/How the documentation is generated.md
  contributing/Documentation/Linking to other pages in the docs.md
  contributing/Documentation/Old Jekyll-based docs/About Old Jekyll-based docs.md
  contributing/Documentation/Old Jekyll-based docs/Dependency Management and Updates for the Docs.md
  contributing/Documentation/Old Jekyll-based docs/Overview of Jekyll-based docs.md
  contributing/Documentation/Old Jekyll-based docs/Test documentation locally with Jekyll.md
  contributing/Documentation/Omitting a heading from the page's Table of Contents.md
  contributing/Documentation/Publishing with Obsidian Publish.md
  contributing/Documentation/Redirects - Testing old links still work.md
  contributing/Documentation/Screenshots in documentation.md
  contributing/Documentation/Version numbers in documentation.md
  contributing/Documentation/publish-icon-in-ribbon.png
  contributing/Releases/How do I make a release.md
  contributing/Useful Links.md
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
  src/Config/SettingsTab.ts
  src/Config/settingsConfiguration.json
  src/Query/Filter/StartDateField.ts
  tests/Query.test.ts
  tests/Query/Filter/DescriptionField.test.ts
Labels: scope: documentation

#1845 docs: Use tags to link to related pages
  contributing/Documentation/Linking to other pages in the docs.md
  docs/.obsidian/snippets/publish-simulation.css
  docs/Advanced/Daily Agenda.md
  docs/Advanced/Notifications.md
  docs/Advanced/Quickadd.md
  docs/Advanced/Styling.md
  docs/Advanced/Tasks Api.md
  docs/How To/How to get tasks in current file.md
  docs/How To/How to style backlinks.md
  docs/How To/Show tasks in a calendar.md
  docs/How To/Style custom statuses.md
  docs/Other Plugins/Dataview.md
  docs/publish.css
Labels: scope: documentation

#1837 refactor: date range abstraction
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  src/Query/Filter/DateField.ts
  tests/Query/DateParser.test.ts
  tests/Query/DateRange.test.ts
Labels: type: internal

#1721 docs: Add info about support requirements
  .github/ISSUE_TEMPLATE/bug-report.yaml
  docsv2/bug-reports.md
Labels: scope: documentation, type: internal

#1870 refactor: Move code for grouping by dates to DateField
  src/Query/Filter/DateField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
Labels: scope: grouping

#1875 feat: Update for Aura theme's support of light mode
  docs/Reference/Status Collections/Aura Theme.md
  docs/images/settings-custom-statuses-initial.png
  docs/images/settings-statuses-initial.png
  docs/images/theme-aura-reading-view.png
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/Aura/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/Aura/theme.css
  resources/sample_vaults/Tasks-Demo/Styling/Theme - Aura.md
  src/Config/SettingsTab.ts
Labels: scope: task states

#1872 feat: Add Created date to Auto-Suggest menu
  docs/Getting Started/Auto-Suggest.md
  docs/Getting Started/Dates.md
  docs/images/auto-suggest-menu-after-due-date.png
  docs/images/auto-suggest-menu-after-due-emoji.png
  docs/images/auto-suggest-menu-after-priority.png
  docs/images/auto-suggest-menu-after-repeat-emoji.png
  docs/images/auto-suggest-menu-after-repeat-text.png
  docs/images/auto-suggest-menu-initial-menu.png
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#1824 feat: Add support for either Dataview OR Tasks emoji task formats
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Suggestor/Suggestor.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Suggestor/Suggestor.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
Labels: scope: parsing markdown - and global filter, status: ready to merge, status: user docs need work

#1888 chore: Use Templater plugin to add documentation snippets
  contributing/Documentation/About Documentation.md
  contributing/Documentation/Templates for common text snippets.md
  contributing/Documentation/Version numbers in documentation.md
  docs/.obsidian/command-palette.json
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/templater-obsidian/data.json
  docs/.obsidian/plugins/templater-obsidian/main.js
  docs/.obsidian/plugins/templater-obsidian/manifest.json
  docs/.obsidian/plugins/templater-obsidian/styles.css
  docs/.obsidian/publish.json
  docs/_meta/templates/insert 'Released' callout for part of feature.md
  docs/_meta/templates/insert 'Released' callout for whole feature.md
  docs/_meta/templates/new documentation file.md
  docs/_meta/templates/standard frontmatter.md
  docs/_meta/templates/tags for related pages.md
  package.json
Labels: scope: documentation, type: internal

#1895 docs: Document Task formats, including Dataview format support
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/tag-wrangler/main.js
  docs/.obsidian/plugins/tag-wrangler/manifest.json
  docs/.obsidian/plugins/tag-wrangler/styles.css
  docs/Getting Started/Getting Started.md
  docs/Introduction.md
  docs/Other Plugins/Dataview.md
  docs/Reference/Reference.md
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/_meta/templates/image embed.md
  docs/_meta/templates/we are tracking this in issue.md
  docs/images/settings-task-format.png
  resources/sample_vaults/Tasks-Demo/Formats/All Formats Parsing.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Queries - Dataview Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Queries - Tasks Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Tasks to Parse.md
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
Labels: scope: documentation

#1903 fix: Enable queries like 'due last Wednesday' to search dates before today
  src/Query/DateParser.ts
  src/Query/Filter/DateField.ts
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/filters-date-examples.input.query
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-week-month-quarter-year.input.query
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-weekday.input.query
  tests/TestingTools/ApprovalTestHelpers.ts
Labels: scope: filters

#1904 docs: Remove leftover Jekyll {% raw %} and {% endraw %} text from new docs
  docs/Advanced/Daily Agenda.md
  docs/Advanced/Quickadd.md
Labels: scope: documentation

#1810 feat: Backlinks now jump to task's exact line
  docs/Advanced/Styling.md
  docs/Getting Started/Backlinks.md
  docs/How To/Find tasks with invalid data.md
  docs/How To/How to style backlinks.md
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  manifest.json
  package.json
  src/Commands/ToggleDone.ts
  src/Commands/index.ts
  src/File.ts
  src/QueryRenderer.ts
  yarn.lock
Labels: scope: user interface, scope: backlinks

#1873 feat: Add 'root' and 'folder' filters
  docs/Queries/Filters.md
  docs/Quick Reference/Quick Reference.md
  src/Query/Filter/BacklinkField.ts
  src/Query/Filter/FolderField.ts
  src/Query/Filter/RootField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/RootField.test.ts
Labels: scope: filters, scope: grouping

#1897 fix: created date suggestion appearing too often
  docs/Getting Started/Auto-Suggest.md
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#1906 test: Normalize timezone for tests to UTC
  jest.config.js
  tests/global-setup.js
Labels: type: internal

#1878 feat: Add a setting for Global Query
  docs/Queries/Global Query.md
  docs/images/settings-global-query.png
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/lib/QueryRendererHelper.ts
  tests/Config/DebugSettings.test.ts
  tests/Query.test.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_explains_task_block_with_global_query_active.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_explains_task_block_with_global_query_active.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
  tests/lib/QueryRendererHelper.test.ts
Labels: scope: global query

#1919 docs, usability: Minor improvements to Global Query docs & settings
  docs/Getting Started/Global Filter.md
  docs/Getting Started/Settings.md
  docs/Introduction.md
  docs/Queries/Explaining Queries.md
  docs/Queries/Global Query.md
  docs/images/settings-global-query.png
  src/Config/SettingsTab.ts
Labels: scope: documentation, scope: global query

#1916 fix: Dataview: Enable workarounds to prevent Obsidian from rendering inline fields as reference style links
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  src/TaskSerializer/DataviewTaskSerializer.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
Labels: scope: parsing markdown - and global filter
