Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2023-07, with the labels that each got.

#2076 feat: Add `hide tags` instruction
  docs/Advanced/Styling.md
  docs/Queries/Layout.md
  docs/Quick Reference.md
  src/Query/Query.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/Query.test.ts
  tests/TaskLineRenderer.test.ts
Labels: scope: rendering of tasks

#2086 fix: 'hide tags' now preserves styling of description for specific tags
  docs/Advanced/Styling.md
  docs/Queries/Layout.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-green-glow.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-round-red-description.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-smoke-test-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  styles.css
  tests/TaskLineRenderer.test.ts
Labels: scope: css styling, scope: rendering of tasks

#2094 feat: Add 'task.descriptionWithoutTags' for 'group by function'
  docs/Queries/Grouping.md
  docs/Scripting/Task Properties.md
  src/Task.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.descriptionWithoutTags_docs.approved.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.descriptionWithoutTags_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.description_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.ts
Labels: scope: grouping

#2095 refactor: Divide up evaluateExpression() for re-use
  src/Query/Filter/FunctionField.ts
  src/Scripting/Expression.ts
  tests/Scripting/Expression.test.ts
  tests/Scripting/TaskProperties.test.ts
Labels: type: internal

#2096 refactor: Add TaskExpression to encapsulate Expression functions
  src/Query/QueryComponentOrError.ts
  src/Scripting/Expression.ts
  src/Scripting/TaskExpression.ts
  tests/Scripting/Expression.test.ts
  tests/Scripting/TaskExpression.test.ts
Labels: type: internal

#2098 feat: Tasks code block now shows any error messages from searches
  src/Query/Filter/FunctionField.ts
  src/Query/Query.ts
  src/Query/QueryResult.ts
  src/QueryRenderer.ts
  tests/Query.test.ts
  tests/Query/QueryResult.test.ts
Labels: type: enhancement, scope: filters

#2110 docs: How to create groups Overdue, Today, Future & Undated
  docs/Queries/Grouping.md
  docs/images/tasks_custom_groups_categorise_dates.png
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Labels: scope: documentation

#2119 chore: Fix error message from newer svelte dependencies.
  src/ui/EditTask.svelte
Labels: type: internal

#2126 test: Simplify code-review of filter, sort and group additions
  src/Query/FilterParser.ts
  tests/Query.test.ts
Labels: type: internal

#2128 feat: query error messages now show problem line
  src/Query/Query.ts
  tests/Query.test.ts
Labels: scope: filters

#2132 feat: explain now shows regex interpretation
  src/Query/Filter/TextField.ts
  src/Query/Matchers/IStringMatcher.ts
  src/Query/Matchers/RegexMatcher.ts
  src/Query/Matchers/SubstringMatcher.ts
  tests/Query/Filter/TextField.test.explains_regular_expression_searches_bulk_test.approved.txt
  tests/Query/Filter/TextField.test.ts
Labels: scope: regex filters

#2134 fix: Display reason for any failure to read regex
  src/Query/Filter/TextField.ts
  src/Query/Matchers/RegexMatcher.ts
  tests/Query/Filter/TextField.test.ts
Labels: scope: regex filters

#2135 fix: Support 'u' flag (Unicode) & detect duplicate flags
  src/Query/Matchers/RegexMatcher.ts
  tests/Query/Filter/TextField.test.explains_regular_expression_searches_bulk_test.approved.txt
  tests/Query/Matchers/RegexMatcher.test.ts
Labels: scope: regex filters

#2136 fix: prevent truncation of regex /a/b/c/d/ searching only /a/
  src/Query/Matchers/RegexMatcher.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/TextField.test.explains_regular_expression_searches_bulk_test.approved.txt
  tests/Query/Matchers/RegexMatcher.test.ts
Labels: scope: regex filters

#2137 fix: Report invalid regex flags - likely a missing slash
  src/Query/Matchers/RegexMatcher.ts
  tests/Query/Matchers/RegexMatcher.test.ts
Labels: scope: regex filters

#2139 feat: Show help message for invalid regular expressions
  src/Query/Filter/TextField.ts
  src/Query/Matchers/RegexMatcher.ts
  src/Query/Query.ts
  tests/Query.test.ts
Labels: scope: regex filters

#2179 feat: Support variables in custom filters and groups
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Expressions.md
  src/Scripting/Expression.ts
  tests/CustomMatchers/CustomMatchersForExpressions.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Labels: scope: filters, scope: grouping, scope: scripting

#2181 chore: Add Sponsor button to GitHub repo
  .github/FUNDING.yml
Labels: type: internal
