Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-05, with the labels that each got.

#2794 fix: align the look of `Priority` section in task modal with date sections
  src/ui/EditTask.scss
Labels: scope: edit task

#2796 fix: remove access keys mentions when access key setting is disabled
  src/ui/EditTask.svelte
Labels: scope: edit task

#2799 refactor: clean `EditTask.scss`
  src/ui/EditTask.scss
Labels: scope: edit task

#2771 feat: Add Auto Suggest for Task dependencies
  docs/Editing/Auto-Suggest.md
  docs/Getting Started/Task Dependencies.md
  docs/Support and Help/Known Limitations.md
  resources/sample_vaults/Tasks-Demo/.obsidian/appearance.json
  src/Commands/index.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  src/main.ts
  src/ui/DependencyHelpers.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest, scope: task dependencies

#2778 feat: Allow showing/suppressing the Auto-Suggest in custom editor implementations
  docs/Advanced/Tasks Api.md
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#2806 test: Add some tests for dependency suggestions
  src/Suggestor/Suggestor.ts
  tests/Obsidian/ObsidianSearchFacilities.test.ts
  tests/Suggestor/Suggestor.test.ts
  tests/__mocks__/obsidian.ts
Labels: type: internal, scope: auto-suggest, scope: task dependencies

#2800 contrib: Document the source-code directory structure
  contributing/Code/About Code.md
  contributing/Code/Structure of the code.md
Labels: type: internal

#2804 refactor: split CSS class `tasks-modal-section`
  src/ui/Dependency.scss
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Labels: type: internal, scope: edit task

#2812 refactor: finalise CSS split in `EditTask.scss
  src/ui/DateEditor.svelte
  src/ui/Dependency.svelte
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Labels: scope: edit task

#2781 feat: Add executeToggleTaskDoneCommand to Tasks Api
  docs/Advanced/Tasks Api.md
  docs/Editing/Toggling and Editing Statuses.md
  src/Api/TasksApiV1.ts
  src/Api/index.ts
  tests/Api/executeToggleTaskDoneCommand.test.ts
Labels: scope: for plugin developers

#2819 refactor: add ListItem class
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Task/ListItem.test.ts
  tests/Task/Task.test.ts
  tests/TestingTools/TaskBuilder.test.ts
Labels: type: internal

#2822 refactor: extract label generation for Edit Task modal
  src/Scripting/Postponer.ts
  src/lib/StringHelpers.ts
  src/ui/DateEditor.svelte
  src/ui/Dependency.svelte
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  src/ui/EditTaskHelpers.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
  tests/ui/EditTaskHelpers.test.ts
Labels: type: internal, scope: edit task

#2826 fix: Test and improve behaviour of auto-suggest with dependencies
  src/Suggestor/Suggestor.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest, scope: task dependencies

#2828 fix: Disable auto-suggest for dependencies to allow 7.2.0 release
  docs/Editing/Auto-Suggest.md
  docs/Getting Started/Task Dependencies.md
  docs/Support and Help/Known Limitations.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest, scope: task dependencies

#2833 refactor: remove _onPriorityKeyup()
  src/ui/EditTask.svelte
Labels: scope: edit task

#2835 fix: remove background under the dependency delete button
  src/ui/Dependency.scss
Labels: scope: edit task

#2844 feat: Add 'Remove date' option to the Postpone context menu
  docs/Editing/Postponing.md
  docs/images/postpone-future-task-context-menu.png
  docs/images/postpone-overdue-task-context-menu.png
  src/Scripting/Postponer.ts
  src/ui/Menus/PostponeMenu.ts
  tests/Scripting/Postponer.test.ts
  tests/ui/Menus/PostponeMenu.test.ts
Labels: scope: postpone

#2848 feat: Store task inheritance
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child1newroot_after_header.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child1sibling_emptystring.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children1grandchild.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling_start_with_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_2siblings.md
  src/Obsidian/Cache.ts
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child1newroot_after_header.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child1sibling_emptystring.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children1grandchild.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children1sibling.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren1sibling.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren1sibling_start_with_heading.ts
  tests/Obsidian/__test_data__/inheritance_2siblings.ts
  tests/Task/ListItem.test.ts
Labels: scope: parsing markdown, scope: sub-tasks and super-tasks

#2851 fix: Prevent duplicate characters at end of line if adding ID via auto-suggest
  src/Suggestor/EditorSuggestorPopup.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest, scope: task dependencies

#2853 fix: Don't rewrite any existing ID when adding dependencies
  src/Suggestor/EditorSuggestorPopup.ts
Labels: scope: auto-suggest, scope: task dependencies

#2857 refactor: Create `EditableTask` class
  src/ui/EditTask.svelte
  src/ui/EditableTask.ts
  tests/ui/EditTaskHelpers.test.ts
  tests/ui/EditableTask.test.ts
Labels: type: internal, scope: edit task

#2865 refactor: make `EditableTask` constructor private
  src/ui/EditableTask.ts
  tests/ui/EditTaskHelpers.test.ts
Labels: scope: edit task
