Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-10, with the labels that each got.

#3109 refactor: test renderering descriptions
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_rendering_sample.md
  src/Renderer/QueryResultsRenderer.ts
  src/Renderer/TaskLineRenderer.ts
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/__test_data__/inheritance_rendering_sample.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Renderer/RenderingTestHelpers.ts
  tests/Renderer/TaskLineRenderer.test.ts
Labels: type: internal, scope: rendering of tasks

#3110 feat: Add random sorting, with 'sort by random'
  docs/Queries/Sorting.md
  docs/Quick Reference.md
  docs/What is New/Changelog.md
  src/Query/Filter/RandomField.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/RandomField.test.ts
  tests/Query/Query.test.ts
Labels: scope: sorting

#3114 fix: Restore 'collapsed' state of Status setting sections
  src/Config/SettingsTab.ts
Labels: scope: settings

#3119 fix: sub-list items now render OK - no bullet, number, callout/blockquote etc
  resources/sample_vaults/Tasks-Demo/Manual Testing/Callouts and Block Quotes.md
  src/Renderer/QueryResultsRenderer.ts
  src/Task/ListItem.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items_reverse_sorted.approved.html
  tests/Task/ListItem.test.ts
Labels: scope: rendering of tasks, scope: sub-tasks and super-tasks

#3126 fix: rerender search results when child list items are edited
  src/Obsidian/Cache.ts
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Task/ListItem.test.ts
  tests/Task/ListItemHelpers.ts
  tests/Task/Task.test.ts
Labels: scope: sub-tasks and super-tasks

#3128 feat: Add experimental 'show/hide tree' instruction - disabled by default
  resources/sample_vaults/Tasks-Demo/Other Plugins/Dataview/Parent-Child relationships - Searches - Tasks.md
  src/Layout/QueryLayoutOptions.ts
  src/Query/Query.ts
  src/Renderer/QueryResultsRenderer.ts
  tests/Query/Query.test.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items_hidden.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Labels: scope: rendering of tasks, scope: show/hide

#3135 fix: render markdown formatting in list items
  src/Renderer/QueryResultsRenderer.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items_reverse_sorted.approved.html
Labels: scope: rendering of tasks, scope: sub-tasks and super-tasks

#3144 vault: Add manual test of recurrence in Pacific/Auckland at DST boundary
  contributing/Testing/About Testing.md
  contributing/Testing/Testing and Time Zones.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Time Zones/Pacific-Auckland.md
  tests/global-setup.js
Labels: scope: recurrence

#3121 fix: recur correctly at start of Daylight Savings Time
  src/Task/Recurrence.ts
Labels: scope: recurrence

#3145 fix: 'on completion' delete now renders correctly in Live Preview
  src/Obsidian/LivePreviewExtension.ts
Labels: scope: lifecycle of tasks, display: live preview

#3146 docs: Document the show and hide tree instructions
  docs/Queries/Layout.md
  docs/What is New/Changelog.md
  docs/images/show-tree.png
Labels: scope: documentation, scope: sub-tasks and super-tasks

#3147 refactor: renames in `QueryResultsRenderer`
  src/Renderer/QueryResultsRenderer.ts
Labels: type: internal, scope: rendering of tasks

#3149 fix: Correct the direct toggling of non-recurring tasks in Live Preview
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
  src/Obsidian/LivePreviewExtension.ts
Labels: display: live preview

#3159 fix: ! Prevent Tasks getting stuck 'Loading Tasks...' (again)
  src/Obsidian/Cache.ts
Labels: scope: parsing markdown
