Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-09, with the labels that each got.

#3058 fix: Improve Edit Task modal calendar 'button' layout
  src/ui/DateEditor.svelte
  src/ui/EditTask.scss
  src/ui/Menus/DatePicker.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
Labels: scope: edit task

#3059 fix: Improve Edit Task modal calendar button behaviour
  src/Obsidian/TaskModal.ts
  src/Renderer/TaskLineRenderer.ts
  src/ui/DateEditor.svelte
  src/ui/EditTask.scss
  src/ui/Menus/DatePicker.ts
  tests/__mocks__/obsidian.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
Labels: scope: edit task

#3064 vault: Add smoke tests for date picker and date context menu
  .github/workflows/verify.yml
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Labels: type: internal

#3060 fix: load cache when workspace is ready
  src/Obsidian/Cache.ts
  src/main.ts
Labels: question, scope: performance issues

#3075 fix: Make 'filter by function' show statement in error messages
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters - Demo.md
  src/Query/Query.ts
  tests/Query/Query.test.ts
Labels: scope: filters

#3073 feat: check postpone item if its date matches the one in the task
  src/ui/Menus/PostponeMenu.ts
  tests/ui/Menus/PostponeMenu.test.ts
Labels: scope: user interface, scope: postpone

#3076 fix: postpone to current date keeps postpone button active
  src/ui/Menus/PostponeMenu.ts
Labels: scope: user interface, scope: postpone

#3087 fix: retain manually added Done & Cancelled dates in modal
  src/ui/StatusEditor.svelte
  tests/ui/EditTask.test.ts
Labels: scope: edit task

#3099 fix: Edit Task modal now retains edits to Cancelled date
  src/ui/EditableTask.ts
  tests/ui/EditTask.test.ts
Labels: scope: edit task

#3093 refactor: Replace Status factory functions with static objects
  src/Config/StatusSettings.ts
  src/Statuses/Status.ts
  src/Statuses/StatusRegistry.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.ts
  tests/Query/Filter/BlockingField.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
  tests/Scripting/TaskProperties.test.ts
  tests/Statuses/Status.test.ts
  tests/Statuses/StatusRegistry.test.ts
  tests/Task/OnCompletion.test.ts
  tests/Task/Task.test.ts
  tests/TestingTools/SampleTasks.ts
  tests/TestingTools/TaskBuilder.ts
  tests/ui/EditInstructions/StatusInstructions.test.ts
  tests/ui/Menus/StatusMenu.test.ts
Labels: type: internal, scope: task states

#3101 fix: Improve usefulness of 'group by status' and 'sort by status'
  docs/Getting Started/Statuses/Status Types.md
  src/Query/Filter/StatusField.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Status_Transitions_status-types.approved.md
  tests/Query/Filter/StatusField.test.ts
Labels: scope: sorting, scope: grouping
