Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-04, with the labels that each got.

#2754 Refactor booleans step1
  src/Query/Filter/BooleanDelimiters.ts
  src/Query/Filter/BooleanField.ts
  src/lib/RegExpTools.ts
  tests/Query/Filter/BooleanDelimiters.test.ts
  tests/Query/Filter/BooleanField.test.ts
  tests/lib/RegExpTools.test.ts
Labels: type: internal, scope: query logic

#2755 fix: allow Boolean filters such as "description includes abc"
  src/Query/Filter/BooleanDelimiters.ts
  src/Query/Filter/BooleanField.ts
  tests/Query/Filter/BooleanDelimiters.test.ts
  tests/Query/Filter/BooleanField.test.ts
Labels: scope: query logic

#2756 refactor: Start new code for preprocessing Boolean instructions
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_split_line.approved.txt
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/BooleanPreprocessor.test.ts
Labels: type: internal, scope: query logic

#2758 refactor: Implement new preprocessor for Boolean searches
  src/Query/Filter/BooleanDelimiters.ts
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanDelimiters.test.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/BooleanPreprocessor.test.ts
Labels: type: internal, scope: query logic

#2759 fix: allow filters with ( ) and " delimiters in Boolean filters
  src/Query/Filter/BooleanField.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.ts
Labels: scope: query logic

#2761 feat: Provide better Boolean help messages
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.ts
Labels: scope: query logic

#2762 feat!!: Disallow mixing delimiter types in Boolean queries
  src/Query/Filter/BooleanDelimiters.ts
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanDelimiters.test.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_split_line.approved.txt
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/BooleanFieldVerify.ts
  tests/Query/Filter/BooleanPreprocessor.test.ts
  tests/Query/Query.test.ts
Labels: scope: query logic

#2763 feat: Support square brackets and curly braces to surround Boolean sub-expressions
  src/Query/Filter/BooleanDelimiters.ts
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanDelimiters.test.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_split_line.approved.txt
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/BooleanFieldVerify.ts
  tests/Query/Filter/BooleanPreprocessor.test.ts
  tests/Query/Query.test.ts
Labels: scope: query logic

#2767 feat: Fix any missing spaces around Boolean operators
  src/Query/Filter/BooleanPreprocessor.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/BooleanPreprocessor.test.ts
Labels: scope: query logic

#2769 vault: explore parent child tasks with dataview
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/number-headings-obsidian/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/number-headings-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/number-headings-obsidian/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/number-headings-obsidian/styles.css
  resources/sample_vaults/Tasks-Demo/Other Plugins/Dataview/Parent-Child relationships.md
Labels: scope: sample vault, scope: sub-tasks and super-tasks

#2770 feat: Further improve Boolean help messages
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
  src/Query/Filter/BooleanField.ts
  src/Query/Query.ts
  src/Query/Statement.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Query.test.ts
  tests/Query/Statement.test.ts
Labels: scope: query logic

#2772 docs: Document many improvements to Boolean searches
  docs/Introduction.md
  docs/Queries/Combining Filters.md
  docs/Support and Help/Breaking Changes.md
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
Labels: scope: documentation, scope: query logic

#2787 feat: Add access keys for Created, Done and Cancelled
  docs/Introduction.md
  docs/images/modal.png
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Labels: scope: edit task

#2788 feat: Improve Edit Task modal's use of space
  docs/Introduction.md
  docs/images/modal.png
  src/ui/DateEditor.svelte
  src/ui/Dependency.scss
  src/ui/Dependency.svelte
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Labels: scope: edit task

#2790 fix: set correct font size to Priority label
  docs/images/modal.png
  src/ui/EditTask.scss
Labels: scope: edit task

#2791 refactor: group CSS classes
  src/ui/EditTask.scss
Labels: scope: edit task
