Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-01, with the labels that each got.

#2557 feat: Add editing of Created, Done and Cancelled dates in Modal
  docs/Editing/Create or edit Task.md
  docs/Introduction.md
  docs/images/modal.png
  src/ui/EditTask.svelte
  tests/EditTask.test.ts
Labels: scope: task dates and times, scope: edit task

#2558 fix: Warn in Edit Task modal about Status-editing limitations
  docs/images/modal.png
  src/ui/EditTask.svelte
  styles.css
Labels: scope: documentation, scope: edit task

#2484 feat: Make modal action buttons always visible
  src/TaskModal.ts
  styles.css
Labels: scope: edit task

#2548 refactor: replace `className()` method with `addClassName()`
  src/TaskFieldRenderer.ts
  src/TaskLineRenderer.ts
  tests/TaskFieldRenderer.test.ts
Labels: type: internal, scope: rendering of tasks

#2566 feat: Add 'today' and 'tomorrow' to Postpone context menu
  docs/Introduction.md
  docs/images/postpone-future-task-context-menu.png
  docs/images/postpone-future-task-default-action.png
  docs/images/postpone-overdue-task-context-menu.png
  docs/images/postpone-overdue-task-default-action.png
  src/Scripting/Postponer.ts
  src/ui/Menus/PostponeMenu.ts
  src/ui/Menus/TaskEditingMenu.ts
  tests/Scripting/Postponer.test.ts
  tests/ui/Menus/PostponeMenu.test.ts
Labels: scope: user interface

#2575 refactor: rewrite TaskLayoutOptions to key on TaskLayoutComponent
  src/IQuery.ts
  src/InlineRenderer.ts
  src/Layout/TaskLayoutOptions.ts
  src/Query/Query.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/TaskLayout.test.ts
  tests/TaskLineRenderer.test.ts
Labels: type: internal

#2578 refactor: cleanup `TaskLayout.ts`
  src/Layout/TaskLayoutOptions.ts
  src/TaskLayout.ts
  tests/TaskLayout.test.ts
Labels: type: internal

#2584 feat: Complete implementation of 'sort by function'
  resources/sample_vaults/Tasks-Demo/Functions/Custom Sorting.md
  src/Query/Filter/FunctionField.ts
  src/Query/Query.ts
  src/lib/TypeDetection.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.filename_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.path_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.heading_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.ts
  tests/TestHelpers.ts
  tests/lib/TypeDetection.test.ts
Labels: scope: sorting, scope: scripting

#2586 feat: Enable use of Query Properties like query.file.path in 'sort by function'
  resources/sample_vaults/Tasks-Demo/Functions/Custom Sorting.md
  src/Query/Filter/FunctionField.ts
  src/Query/Query.ts
  src/Query/Sort.ts
  src/Query/Sorter.ts
  tests/CustomMatchers/CustomMatchersForSorting.ts
  tests/Query.test.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.folder_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
  tests/Sort.test.ts
  tests/TestingTools/SortingTestHelpers.ts
Labels: scope: sorting, scope: scripting

#2562 fix!!: Use similar styling for Edit and Postpone buttons
  docs/How To/How to style buttons.md
  docs/Support and Help/Breaking Changes.md
  docs/images/tasks-buttons-alt.png
  docs/images/tasks-buttons-default.png
  docs/images/tasks-buttons-gray.png
  docs/images/tasks-buttons-stylish.png
  docs/images/tasks-buttons-svg.png
  docs/images/tasks-buttons-text.png
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-alt.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-gray.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-stylish.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-svg.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-text.css
  src/QueryRenderer.ts
  src/ui/Menus/PostponeMenu.ts
  styles.css
  tests/ui/Menus/PostponeMenu.test.ts
Labels: scope: css styling

#2590 fix!!: Sort invalid dates before valid ones in query results
  docs/Queries/Sorting.md
  docs/Support and Help/Breaking Changes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Labels: scope: sorting

#2595 fix: `group by [date]` now `Invalid [date] date` as first heading
  docs/Queries/Grouping.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
  src/Query/Filter/DateField.ts
  tests/Query/Filter/CancelledDateField.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
Labels: scope: grouping

#2596 fix: Make `happens` date now ignore invalid dates
  docs/Queries/Filters.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid Dates and Happens.md
  src/Task.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.happens_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.dates_task.happens_results.approved.txt
  tests/Sort.test.Sort_visualise_date_impact_on_default_sort_order.approved.txt
  tests/Sort.test.ts
  tests/Task.test.ts
Labels: scope: task dates and times

#2597 fix: 'sort by function' now sorts 'true' before 'false'
  docs/Queries/Sorting.md
  docs/Scripting/Custom Sorting.md
  resources/sample_vaults/Tasks-Demo/Functions/Custom Sorting.md
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.folder_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isRecurring_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isRecurring_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.ts
Labels: scope: sorting, scope: scripting

#2599 fix!!: Make default sort order sort first by status type
  docs/Getting Started/Priority.md
  docs/Introduction.md
  docs/Queries/Sorting.md
  docs/Support and Help/Breaking Changes.md
  src/Query/Sort.ts
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.statuses_task.status.nextSymbol_results.approved.txt
  tests/Sort.test.Sort_save_default_sort_order.approved.text
  tests/Sort.test.Sort_visualise_default_sort_order.approved.txt
  tests/Sort.test.ts
Labels: scope: sorting

#2600 fix: Make the Urgency calculation ignore invalid dates
  docs/Advanced/Urgency.md
  docs/Support and Help/Breaking Changes.md
  src/Urgency.ts
  tests/Sort.test.Sort_visualise_date_impact_on_default_sort_order.approved.txt
  tests/Sort.test.Sort_visualise_default_sort_order.approved.txt
Labels: scope: urgency

#2604 docs: Document custom sorting and `sort by function`
  docs/Queries/About Queries.md
  docs/Queries/Line Continuations.md
  docs/Queries/Sorting.md
  docs/Scripting/Custom Grouping.md
  docs/Scripting/Custom Sorting.md
  docs/Scripting/Expressions.md
  docs/Scripting/Query Properties.md
  docs/Scripting/Task Properties.md
  docs/Support and Help/Known Limitations.md
Labels: scope: documentation, scope: sorting, scope: scripting

#2568 feat: Implement Task Dependencies
  docs/Advanced/Styling.md
  docs/Getting Started/Task Dependencies.md
  docs/How To/Find tasks with invalid data.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/Scripting/Task Properties.md
  docs/Support and Help/Known Limitations.md
  docs/images/Pasted image 20231011181837.png
  docs/images/task-dependencies-blocked-by-example.png
  package.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
  src/Api/createTaskLineModalHelper.ts
  src/Commands/CreateOrEdit.ts
  src/Commands/CreateOrEditTaskParser.ts
  src/Commands/index.ts
  src/Query/Filter/BlockingField.ts
  src/Query/FilterParser.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/Task.ts
  src/TaskDependency.ts
  src/TaskFieldRenderer.ts
  src/TaskLayout.ts
  src/TaskModal.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  src/ui/EditTask.svelte
  styles.css
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/DocumentationSamples/ValidateTasks.test.validate-tasks_find-unread-emojis.approved.text
  tests/EditTask.test.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/Query.test.ts
  tests/Query/Filter/BlockingField.test.ts
  tests/Query/FilterParser.test.ts
  tests/Scripting/TaskProperties.test.task_dependency_fields.approved.md
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Task.test.ts
  tests/TaskDependency.test.ts
  tests/TaskLayout.test.ts
  tests/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/TaskLineRenderer.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_dataview-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_dataview-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.ts
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestHelpers.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
  yarn.lock
Labels: scope: task dependencies

#2609 refactor: Move task dependency input to svelte component
  src/ui/Dependency.svelte
  src/ui/EditTask.svelte
  src/ui/EditableTask.ts
  styles.css
Labels: scope: task dependencies, scope: edit task

#2612 refactor: Reduce cyclic dependencies in src/
  .gitignore
  circular-deps.txt
  src/Commands/CreateOrEditTaskParser.ts
  src/Commands/ToggleDone.ts
  src/Query/Filter/PriorityField.ts
  src/Renderer/TaskLineRenderer.ts
  src/Scripting/TasksDate.ts
  src/Statuses/StatusRegistryReport.ts
  src/Statuses/StatusSettingsReport.ts
  src/Suggestor/Suggestor.ts
  src/Task/Priority.ts
  src/Task/Task.ts
  src/Task/TaskRegularExpressions.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/lib/PriorityTools.ts
  src/ui/EditInstructions/PriorityInstructions.ts
  src/ui/EditTask.svelte
  tests/Commands/CreateOrEditTaskParser.test.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
  tests/Query/DateParser.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/UrgencyField.test.ts
  tests/Query/Query.test.ts
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Task/Task.test.ts
  tests/Task/Urgency.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.ts
  tests/TestingTools/TestHelpers.ts
  tests/TestingTools/VerifyStatuses.ts
  tests/lib/PriorityTools.test.ts
  tests/ui/EditInstructions/PriorityInstructions.test.ts
  tests/ui/Menus/PriorityMenu.test.ts
Labels: type: internal

#2614 feat: Add search, sort and group by Task Id
  docs/Getting Started/Task Dependencies.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
  docs/Quick Reference.md
  src/Query/Filter/IdField.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/IdField.test.ts
  tests/Query/Query.test.ts
Labels: scope: documentation, scope: filters, scope: task dependencies

#2615 feat: Add 'blocked by' presence and absence instructions
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
  docs/Quick Reference.md
  src/Query/Filter/BlockedByField.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/BlockedByField.test.ts
  tests/Query/Query.test.ts
Labels: scope: documentation, scope: filters, scope: task dependencies

#2613 refactor: `TaskLayout`& `QueryLayout` renames
  src/Layout/LayoutHelpers.ts
  src/Layout/QueryLayout.ts
  src/Layout/TaskLayout.ts
  src/Renderer/QueryRenderer.ts
  tests/Layout/TaskLayout.test.ts
Labels: type: internal

#2617 feat: Expose `query.allTasks` in scripting
  docs/Introduction.md
  docs/Queries/Grouping.md
  docs/Scripting/Query Properties.md
  src/Query/SearchInfo.ts
  src/Scripting/QueryContext.ts
  tests/Scripting/QueryContext.test.ts
  tests/Scripting/QueryProperties.test.query_search_properties.approved.md
  tests/Scripting/QueryProperties.test.ts
  tests/Scripting/ScriptingTestHelpers.ts
Labels: scope: scripting

#2632 refactor: Create Task.isBlocked() and Task.isBlocking()
  src/Task/Task.ts
  tests/Task/Task.test.task_dependencies_blocking_and_blocked.approved.txt
  tests/Task/Task.test.ts
Labels: type: internal, scope: task dependencies
