Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-03, with the labels that each got.

#2686 fix: Make Completion and Done dates & Recurrence work in modal status edits
  contributing/Code/How does Tasks handle status changes.md
  docs/Editing/Create or edit Task.md
  docs/Editing/Toggling and Editing Statuses.md
  docs/Introduction.md
  src/Task/Recurrence.ts
  src/Task/Task.ts
  src/ui/EditTask.svelte
  tests/Task/Task.test.ts
  tests/ui/EditTask.test.ts
Labels: scope: edit task

#2688 docs: Finish documenting Task Dependencies
  contributing/_meta/templates/image embed.md
  docs/Editing/Create or edit Task.md
  docs/Getting Started/About Getting Started.md
  docs/Getting Started/Task Dependencies.md
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/_meta/templates/image embed.md
  docs/images/Pasted image 20231011181837.png
  docs/images/modal.png
  docs/images/task-dependencies-blocked-by-example.png
  docs/images/task-dependencies-party.png
  docs/images/task-dependencies-search.png
  resources/sample_vaults/Tasks-Demo/ACME.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies - Worked Example.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
Labels: scope: documentation, scope: task dependencies

#2695 Fix priority with vs16
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Labels: scope: parsing markdown, scope: emojis and signifiers

#2696 fix: Enable Tasks to read "no entry" emoji from Emoji Shortcodes plugin
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Labels: scope: parsing markdown, scope: emojis and signifiers

#2697 fix: Stop writing Variant Selector 16 on dependsOn emojis - ⛔
  docs/Advanced/Styling.md
  docs/Getting Started/Task Dependencies.md
  docs/How To/Find tasks with invalid data.md
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/Scripting/Task Properties.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples - Recurring Tasks.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query - short mode.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.md
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/DocumentationSamples/DependencyDocs/DependencySamples.test.blocking_and_blocked_filters_blocking_and_blocked.approved.md
  tests/DocumentationSamples/ValidateTasks.test.validate-tasks_find-unread-emojis.approved.text
  tests/Query/Filter/BlockingField.test.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Task/Task.test.task_dependencies_blocking_and_blocked.approved.txt
  tests/Task/Task.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-snippet.approved.md
  tests/TestingTools/SampleTasks.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/ui/DependencyHelpers.test.ts
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Labels: scope: parsing markdown, scope: emojis and signifiers

#2698 fix: Tasks no longer prevents checking off tasks on Canvas cards
  docs/Getting Started/Getting Started.md
  src/Renderer/TaskLineRenderer.ts
  src/Task/TaskLocation.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Minimal_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Minimal_task_-_short_mode.approved.html
  tests/Task/TaskLocation.test.ts
Labels: scope: canvas

#2704 refactor: move date functions to DateTools.ts
  src/lib/DateTools.ts
  src/ui/EditTask.svelte
Labels: type: internal

#2710 refactor: Introduce Statement class
  src/Query/Filter/Filter.ts
  src/Query/Query.ts
  src/Query/Scanner.ts
  src/Query/Statement.ts
  tests/Query/Filter/Filter.test.ts
  tests/Query/Query.test.ts
  tests/Query/Scanner.test.continue_lines_visualise_continue_lines.approved.txt
  tests/Query/Scanner.test.scan_visualise_scanning.approved.txt
  tests/Query/Scanner.test.ts
  tests/Query/Statement.test.ts
  tests/Scripting/Expression.test.ts
Labels: type: internal

#2711 feat: 'explain' shows Continuations and Placeholders for filters
  docs/Queries/Explaining Queries.md
  docs/Queries/Line Continuations.md
  docs/Scripting/Placeholders.md
  src/Query/Filter/Filter.ts
  src/Query/Statement.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_double_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_single_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_nested_boolean_combinations.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_placeholders.approved.explanation.text
  tests/Query/Explain/Explainer.test.ts
  tests/Query/Query.test.ts
  tests/Query/Statement.test.ts
Labels: scope: filters, scope: explain

#2713 refactor: create DateEditor Svelte component
  src/ui/DateEditor.svelte
  src/ui/EditTask.svelte
Labels: type: internal, scope: edit task

#2714 chore: lint Svelte files
  .eslintrc.js
  package.json
  src/ui/DateEditor.svelte
  src/ui/Dependency.svelte
  src/ui/EditTask.svelte
  yarn.lock
Labels: type: internal

#2719 fix: 'explain' omitted the instruction line in some Boolean expressions
  docs/Queries/Explaining Queries.md
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/Filter.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_boolean_combinations.approved.explanation.text
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.ts
Labels: scope: filters, scope: explain

#2740 feat: Add timing code to Tasks code block rendering code
  contributing/Debugging/About Debugging.md
  contributing/Debugging/Console logging facilities in Tasks.md
  contributing/Debugging/Console timing facilities in Tasks.md
  contributing/Debugging/Debugging and Performance tools.md
  contributing/Debugging/How do I enable hidden debugging and visualisation facilities.md
  contributing/Debugging/Sample flame chart with Timing labels.png
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 1.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 100.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 1000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 150.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 200.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 2000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 25.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 250.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 3000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 4000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 50.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 500.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 5000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 750.md
  scripts/stress_test_obsidian_tasks.py
  src/Config/DebugSettings.ts
  src/Config/Settings.ts
  src/IQuery.ts
  src/Query/Query.ts
  src/Renderer/QueryRenderer.ts
  src/lib/PerformanceTracker.ts
Labels: scope: performance issues, scope: rendering of tasks

#2741 vault: Speed up rendering in the Tasks demo vault
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins-migration.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/data.json
Labels: scope: sample vault
