Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-06, with the labels that each got.

#2868 refactor: Improve encapsulation of behaviour in `EditableTask` class
  src/ui/EditTask.svelte
  src/ui/EditableTask.ts
  tests/ui/EditTaskHelpers.test.ts
  tests/ui/EditableTask.test.ts
Labels: scope: edit task

#2871 feat: Re-enable auto-suggest for dependencies
  docs/Editing/Auto-Suggest.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
Labels: scope: auto-suggest, scope: task dependencies

#2870 refactor: move `parseAndValidateRecurrence()` to `EditableTask`
  src/ui/EditTaskHelpers.ts
  src/ui/EditableTask.ts
  src/ui/RecurrenceEditor.svelte
  tests/ui/EditTaskHelpers.test.ts
  tests/ui/EditableTask.test.ts
Labels: scope: edit task

#2873 refactor: encapsulate adding children in `ListItem` constructor
  src/Obsidian/Cache.ts
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Task/ListItem.test.ts
Labels: type: internal, scope: sub-tasks and super-tasks

#2876 fix: Prevent Auto-Suggest from making tasks with multiple ids
  src/Obsidian/File.ts
  src/Suggestor/EditorSuggestorPopup.ts
Labels: scope: auto-suggest, scope: task dependencies

#2879 docs: Finalise the documentation for Auto-Suggest supporting dependencies
  docs/Editing/Auto-Suggest.md
  docs/Getting Started/Task Dependencies.md
  docs/Introduction.md
  docs/Support and Help/Known Limitations.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Labels: scope: documentation, scope: auto-suggest, scope: task dependencies

#2875 refactor: Store `ListItems`
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_listitem_task.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_listitem_task_siblings.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_task_2listitem_3task.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_task_listitem.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_task_listitem_mixed_grandchildren.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_task_listitem_task.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_task_mixed_children.md
  src/Obsidian/Cache.ts
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_listitem_task.ts
  tests/Obsidian/__test_data__/inheritance_listitem_task_siblings.ts
  tests/Obsidian/__test_data__/inheritance_task_2listitem_3task.ts
  tests/Obsidian/__test_data__/inheritance_task_listitem.ts
  tests/Obsidian/__test_data__/inheritance_task_listitem_mixed_grandchildren.ts
  tests/Obsidian/__test_data__/inheritance_task_listitem_task.ts
  tests/Obsidian/__test_data__/inheritance_task_mixed_children.ts
Labels: type: internal, scope: sub-tasks and super-tasks

#2889 fix: Restore the original order in Auto Suggestions menu
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
Labels: scope: auto-suggest

#2888 feat: Increase Default Max Auto Suggestion Number to 20
  docs/Editing/Auto-Suggest.md
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#2908 fix: Tasks Auto Suggest works again in the Kanban plugin
  docs/Advanced/Tasks Api.md
  docs/Editing/Auto-Suggest.md
  package.json
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-kanban/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-kanban/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-kanban/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-kanban/styles.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test Kanban Integration.md
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest, scope: for plugin developers

#2910 docs: Write up the Obsidian 1.6.x titled callouts issue
  docs-snippets/snippet-callout-titles-bug.md
  docs/Getting Started/Getting Started.md
  docs/Introduction.md
  docs/Support and Help/About Support and Help.md
  docs/Support and Help/Missing tasks in callouts with some Obsidian 1.6.x versions.md
  docs/Support and Help/Report a Bug.md
Labels: scope: documentation, scope: callouts

#2917 docs: Update the docs for Obsidian 1.6.5 release
  docs-snippets/snippet-callout-titles-bug.md
  docs/Getting Started/Getting Started.md
  docs/Introduction.md
  docs/Support and Help/Missing tasks in callouts with some Obsidian 1.6.x versions.md
  docs/Support and Help/Report a Bug.md
  docs/images/rebuild-vault-metadata.png
Labels: scope: documentation, scope: callouts

#2919 fix: recurrence with 'when done' could give wrong 'done' date
  src/Task/Recurrence.ts
  tests/Task/Task.test.ts
Labels: scope: recurrence

#2924 test: ensure dates reset
  tests/Api/executeToggleTaskDoneCommand.test.ts
  tests/Commands/ToggleDone.test.ts
  tests/Task/Urgency.test.ts
Labels: type: internal

#2874 feat: New setting to recognise dates format in file names
  docs/Getting Started/Use Filename as Default Date.md
  docs/images/settings-use-filename-for-date.png
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Task/DateFallback.ts
  tests/Task/DateFallback.test.ts
Labels: scope: task dates and times, scope: parsing markdown
