Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2024-02, with the labels that each got.

#2634 feat: Add consistent searches for 'blocked' and 'blocked'
  docs/Queries/Filters.md
  docs/Quick Reference.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
  src/Query/Filter/BlockingField.ts
  src/Task/Task.ts
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/DocumentationSamples/DependencyDocs/DependencySamples.test.blocking_and_blocked_filters_blocking_and_blocked.approved.md
  tests/DocumentationSamples/DependencyDocs/DependencySamples.test.ts
  tests/Query/Filter/BlockingField.test.ts
  tests/Query/Query.test.ts
Labels: scope: filters, scope: task dependencies

#2637 docs: Add docs for task properties isBlocked() and isBlocking()
  docs/Quick Reference.md
  docs/Scripting/Task Properties.md
  tests/Scripting/TaskProperties.test.task_dependency_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
Labels: scope: documentation, scope: task dependencies, scope: scripting

#2631 refactor: convert `TaskLayoutOptions` to `enum`
  src/Layout/TaskLayoutOptions.ts
  src/Query/Query.ts
  src/Renderer/TaskLineRenderer.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/Renderer/TaskFieldRenderer.test.ts
  tests/Renderer/TaskLineRenderer.test.ts
Labels: type: internal

#2639 fix!!: Rename field to Task.dependsOn to fix "blocked by" ambiguity
  docs/Advanced/Styling.md
  docs/Getting Started/Task Dependencies.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Layout.md
  docs/Queries/Sorting.md
  docs/Quick Reference.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Scripting/Task Properties.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
  src/Commands/CreateOrEditTaskParser.ts
  src/Layout/TaskLayoutOptions.ts
  src/Query/Filter/BlockedByField.ts
  src/Query/Query.ts
  src/Renderer/TaskFieldRenderer.ts
  src/Task/Task.ts
  src/Task/TaskDependency.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  src/ui/EditTask.svelte
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/Layout/TaskLayout.test.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/Query/Filter/BlockedByField.test.ts
  tests/Query/Filter/BlockingField.test.ts
  tests/Query/Query.test.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.dependsOn_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.dependsOn_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/TaskProperties.test.task_dependency_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Task/Task.test.ts
  tests/Task/TaskDependency.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_dataview-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_dataview-snippet.approved.md
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestingTools/SampleTasks.ts
  tests/TestingTools/TaskBuilder.ts
Labels: scope: task dependencies

#2640 fix: Make context menu for Postpone button work on iOS
  src/Renderer/QueryRenderer.ts
  styles.css
Labels: scope: postpone

#2641 fix!!: Rename 'blocked by' filters to 'depends on'
  docs/Queries/Filters.md
  docs/Quick Reference.md
  src/Query/Filter/DependsOnField.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/DependsOnField.test.ts
  tests/Query/Query.test.ts
Labels: scope: filters, scope: task dependencies

#2642 vault: Set up the Tasks-Demo vault to show API in QuickAdd
  docs/Advanced/Tasks Api.md
  resources/sample_vaults/Tasks-Demo/.obsidian/command-palette.json
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/styles.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/QuickAdd Tasks API Demo.md
Labels: scope: documentation, scope: for plugin developers

#2645 test: add `setDependencies()` for editing dependencies
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Labels: type: internal

#2653 fix: enable edit task modal to save multiple tasks
  src/Obsidian/File.ts
Labels: scope: task dependencies

#2671 fix: Dataview-format parses 'Task.id' and 'Task.dependsOn' same as emoji
  src/TaskSerializer/DataviewTaskSerializer.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Labels: scope: parsing markdown, scope: task dependencies

#2664 fix: Improve auto-suggest for dataview task format
  docs/Editing/Auto-Suggest.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.ts
Labels: scope: auto-suggest

#2675 refactor: add tests and refactor auto suggest
  src/Config/Settings.ts
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.ts
Labels: type: internal, scope: auto-suggest

#2676 refactor: Reduce complexity in Task.handleNewStatus()
  src/Task/Task.ts
Labels: type: internal

#2666 refactor: OnCompletion (preparing to later add Delete Action)
  src/Task/OnCompletion.ts
  tests/Task/OnCompletion.test.ts
Labels: type: internal
