Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-04, with the labels that each got.

#3409 vault, docs,contrib: Update all plugins, and install 'Vault Nickname' plugin
  .gitignore
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/tag-wrangler/main.js
  contributing/.obsidian/plugins/tag-wrangler/manifest.json
  contributing/.obsidian/plugins/tag-wrangler/styles.css
  contributing/.obsidian/plugins/templater-obsidian/main.js
  contributing/.obsidian/plugins/templater-obsidian/manifest.json
  contributing/.obsidian/plugins/vault-nickname/main.js
  contributing/.obsidian/plugins/vault-nickname/manifest.json
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/obsidian-tasks-plugin/main.js
  docs/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  docs/.obsidian/plugins/obsidian-tasks-plugin/styles.css
  docs/.obsidian/plugins/tag-wrangler/main.js
  docs/.obsidian/plugins/tag-wrangler/manifest.json
  docs/.obsidian/plugins/tag-wrangler/styles.css
  docs/.obsidian/plugins/templater-obsidian/main.js
  docs/.obsidian/plugins/templater-obsidian/manifest.json
  docs/.obsidian/plugins/vault-nickname/main.js
  docs/.obsidian/plugins/vault-nickname/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/vault-nickname/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/vault-nickname/manifest.json
Labels: type: internal

#3424 fix: Stop onCompletion: delete leaving blank lines for non-recurring tasks
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
  src/Commands/ToggleDone.ts
  src/Obsidian/LivePreviewExtension.ts
Labels: scope: commands, scope: lifecycle of tasks, display: live preview

#3423 feat: Add option to discard Scheduled date on new recurring tasks
  docs/Getting Started/Recurring Tasks.md
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Task/Occurrence.ts
  src/Task/Recurrence.ts
  src/Task/Task.ts
  src/i18n/locales/en.json
  tests/Task/Recurrence.test.ts
Labels: scope: recurrence

#3425 refactor: Small refinements to drop/remove scheduled dates setting
  .gitignore
  docs/Getting Started/Dates.md
  docs/Getting Started/Recurring Tasks.md
  docs/Getting Started/Settings.md
  docs/images/settings-recurrence-remove-scheduled-date.png
  i18next-parser.config.js
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Task/Occurrence.ts
  src/Task/Recurrence.ts
  src/Task/Task.ts
  src/i18n/locales/be.json
  src/i18n/locales/en.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/zh_cn.json
  tests/Task/Recurrence.test.ts
Labels: scope: recurrence

#3426 refactor: prepare includes
  src/Config/Settings.ts
  src/Scripting/QueryContext.ts
  tests/Scripting/Includes.test.ts
Labels: type: internal, scope: filters, scope: scripting

#3427 i18n: Update Chinese (zh) translation file
  src/i18n/locales/zh_cn.json
Labels: scope: internationalisation

#3429 fix: {{query.file...}} no longer broken when renaming other files (#3335, #3428)
  src/Renderer/QueryRenderer.ts
Labels: scope: scripting

#3438 feat: Stop tasks searches from running on inactive tabs
  src/IQuery.ts
  src/Query/Query.ts
  src/Renderer/QueryRenderer.ts
  src/main.ts
Labels: scope: performance issues

#3440 Status report sample tasks
  docs/Getting Started/Statuses/Check your Statuses.md
  docs/What is New/Changelog.md
  docs/images/settings-statuses-report-samples.png
  src/Statuses/StatusRegistryReport.ts
  src/Statuses/StatusSettingsReport.ts
  src/i18n/locales/be.json
  src/i18n/locales/en.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/zh_cn.json
  tests/Statuses/StatusRegistryReport.test.StatusRegistryReport_should_create_a_report.approved.md
  tests/Statuses/StatusSettingsReport.test.StatusSettingsReport_should_create_set_of_sample_task_lines,_excluding_duplicate_and_empty_symbols.approved.md
  tests/Statuses/StatusSettingsReport.test.StatusSettingsReport_should_create_set_of_sample_task_lines_include_global_filter.approved.md
  tests/Statuses/StatusSettingsReport.test.ts
Labels: scope: task states

#3441 i18n: Ukrainian, Belarusian and Russian translations of sample tasks
  src/i18n/locales/be.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
Labels: scope: task states, scope: internationalisation

#3437 feat: Partial implementation of 'include' instruction
  docs/Scripting/Includes.md
  docs/Scripting/Placeholders.md
  src/Query/Query.ts
  tests/Scripting/Includes.test.ts
Labels: scope: scripting

#3446 feat: First try at editing named reusable task block statements
  src/Config/Settings.ts
  src/Config/SettingsTab.scss
  src/Config/SettingsTab.ts
  src/Scripting/QueryContext.ts
  src/lib/RecordHelpers.ts
  tests/Scripting/Includes.test.ts
  tests/lib/RecordHelpers.test.ts
Labels: scope: scripting
