Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-05, with the labels that each got.

#3450 fix: Support line continuations in TQ_extra_instructions & placeholders
  docs/Queries/Query File Defaults.md
  docs/What is New/Changelog.md
  src/Query/Query.ts
  tests/Query/Query.test.ts
  tests/Scripting/Includes.test.ts
Labels: scope: scripting

#3452 fix: Improve the layout of Includes section in settings
  src/Config/SettingsTab.scss
  src/Config/SettingsTab.ts
Labels: scope: settings

#3457 Refactor add includes settings service
  src/Config/IncludesSettingsService.ts
  src/Config/SettingsTab.ts
  tests/Config/IncludesSettingsService.test.ts
Labels: type: internal

#3460 feat: Add error-checking of duplicate names of "Includes"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsService.ts
  src/Config/IncludesSettingsUI.scss
  src/Config/IncludesSettingsUI.ts
  tests/Config/IncludesSettingsService.test.ts
Labels: scope: scripting, scope: settings

#3461 docs: Link Sorting.md to related section in Grouping.md
  docs/Queries/Sorting.md
Labels: scope: documentation

#3462 feat: Editing any Includes setting redraws open Tasks searches
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsUI.ts
  src/Config/SettingsTab.ts
  src/Obsidian/TasksEvents.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  src/main.ts
  tests/Renderer/QueryResultsRenderer.test.ts
Labels: scope: scripting, scope: settings

#3463 feat: Editing any Includes setting redraws open Tasks searches
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsUI.ts
  src/Config/SettingsTab.ts
  src/Obsidian/TasksEvents.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  src/main.ts
  tests/Renderer/QueryResultsRenderer.test.ts
Labels: scope: rendering of tasks, scope: scripting, scope: settings

#3465 i18n: Add German translation of settings UI
  docs/What is New/Changelog.md
  i18next-parser.config.js
  src/i18n/i18n.ts
  src/i18n/locales/de.json
Labels: scope: internationalisation

#3470 refactor: Improve the maintainability of `IncludesSettingsUI.scss`
  src/Config/IncludesSettingsUI.scss
Labels: type: internal, scope: settings

#3472 fix: Includes settings now work on mobile and narrow windows
  src/Config/IncludesSettingsUI.scss
  src/Config/IncludesSettingsUI.ts
Labels: scope: settings

#3473 feat: arrange the delete button in the includes settings
  src/Config/IncludesSettingsUI.scss
  src/Config/IncludesSettingsUI.ts
Labels: scope: settings

#3476 feat: Allow Includes settings to be re-ordered
  src/Config/IncludesSettingsService.ts
  src/Config/IncludesSettingsUI.scss
  src/Config/IncludesSettingsUI.ts
  tests/Config/IncludesSettingsService.test.ts
Labels: scope: settings

#3477 fix: Suppress Tasks Auto-Suggest in Task-Board plugin modal (#3475)
  src/Suggestor/EditorSuggestorPopup.ts
Labels: type: other plugin, scope: auto-suggest

#3485 feat!!: Rename 'include' facility to 'preset'
  contributing/Architecture Decisions/ADR-001 - Nomenclature for Reusable Instruction Blocks Feature.md
  contributing/Architecture Decisions/About Architecture Decisions.md
  contributing/Welcome.md
  docs/Scripting/Placeholders.md
  docs/Scripting/Presets.md
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsUI.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Query/Query.ts
  src/Scripting/Includes.ts
  src/Scripting/QueryContext.ts
  tests/Config/Settings.test.ts
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Scripting/Includes.test.ts
Labels: scope: filters, scope: scripting
