Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-06, with the labels that each got.

#3466 feat: Add ability to filter and group by linked note
  .gitignore
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
  scripts/Test-TasksInLocalObsidian.bat
  src/Scripting/TasksFile.ts
  src/Task/Link.ts
  src/Task/ListItem.ts
  tests/Obsidian/__test_data__/link_in_task_markdown_link.json
  tests/Obsidian/__test_data__/link_in_task_wikilink.json
  tests/Scripting/TasksFile.test.ts
  tests/Task/Link.test.ts
  tests/Task/ListItem.test.ts
Labels: scope: filters, scope: scripting

#3495 refactor: Minor refactoring of links code and tests
  src/Scripting/TasksFile.ts
  src/Task/Link.ts
  tests/Task/Link.test.ts
Labels: type: internal

#3501 i18n: Update Chinese translation(zh_cn.json)
  src/i18n/locales/zh_cn.json
Labels: scope: internationalisation

#3511 fix: Allow text selection with mouse in Preset settings
  src/Config/PresetsSettingsUI.ts
Labels: scope: settings

#3503 fix: Allow other plugins to auto-suggest & document settings for this
  docs/Editing/Auto-Suggest.md
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/nldates-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/nldates-obsidian/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/various-complements/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/various-complements/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/various-complements/styles.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Test Auto Suggest Integrations.md
  src/Suggestor/EditorSuggestorPopup.ts
Labels: scope: auto-suggest
