Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-09, with the labels that each got.

#3597 feat: redraw search results after global filter is edited
  src/Config/SettingsTab.ts
  src/Obsidian/Cache.ts
  src/Obsidian/TasksEvents.ts
Labels: scope: settings

#3610 fix: Enable themes to modify indentation in Live Preview (#3603)
  src/Renderer/Renderer.scss
Labels: scope: css styling

#3609 feat: add Korean localization support
  i18next-parser.config.js
  src/i18n/i18n.ts
  src/i18n/locales/ko.json
Labels: scope: internationalisation

#3611 fix: Update code and docs for new ITS Theme docs and status
  docs/How To/Style custom statuses.md
  docs/Reference/Status Collections/ITS Theme.md
  docs/Reference/Status Collections/SlRvb's Alternate Checkboxes.md
  docs/images/snippet-slrvb-alternate-checkboxes.png
  docs/images/theme-its-reading-view-sample.png
  docs/images/theme-its-reading-view.png
  resources/sample_vaults/Tasks-Demo/Manual Testing/SlrVb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Styling/Snippet - SlRvb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - ITS Theme.md
  src/Config/Themes/ITSThemeCollection.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_ITS_Table.approved.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_ITS_Table.approved.mermaid.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_ITS_Tasks.approved.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_ITS_Text.approved.txt
Labels: scope: documentation

#3626 docs: String "return" in function returns "undefined" (#3625)
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
Labels: scope: documentation

#3633 test: Remove uses of a singleton in mocked Obsidian functions
  tests/Obsidian/SimulatedFile.ts
  tests/Scripting/TasksFile.test.ts
  tests/TestingTools/MockDataHelpers.ts
  tests/TestingTools/MockDataLoader.test.ts
  tests/TestingTools/MockDataLoader.ts
  tests/TestingTools/TaskBuilder.ts
  tests/__mocks__/obsidian.ts
Labels: type: internal

#3635 feat: improve settings UI
  docs/Getting Started/Settings.md
  docs/images/settings-auto-suggest-task-content.png
  docs/images/settings-core-statuses.png
  docs/images/settings-custom-statuses-initial.png
  docs/images/settings-global-filter-with-filter.png
  docs/images/settings-restart-after-change.png
  docs/images/settings-statuses-initial.png
  docs/images/settings-task-format.png
  docs/images/settings-use-filename-for-date.png
  src/Config/SettingsTab.scss
  src/Config/SettingsTab.ts
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/ko.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/zh_cn.json
Labels: scope: documentation, scope: internationalisation, scope: settings
