Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-07, with the labels that each got.

#3509 fix: Enable adding dependencies from modal created via API's createTaskLineModal()
  docs/Advanced/Tasks Api.md
  src/Api/createTaskLineModal.ts
  src/Api/createTaskLineModalHelper.ts
  src/Api/index.ts
  src/main.ts
  tests/Api/createTaskLineModal.test.ts
  tests/Api/executeToggleTaskDoneCommand.test.ts
  tests/Api/index.test.ts
  tests/__mocks__/TaskModal.ts
Labels: scope: task dependencies, scope: scripting, scope: edit task

#3517 test: Save the parsing diffs from Obsidian 1.9.2 to 1.9.4
  tests/Obsidian/__test_data__/jason_properties.json
  tests/Obsidian/__test_data__/yaml_tags_had_value_then_was_emptied_by_obsidian.json
  tests/Obsidian/__test_data__/yaml_tags_is_empty_list.json
  tests/Obsidian/__test_data__/yaml_tags_with_one_value_on_single_line.json
  tests/Obsidian/__test_data__/yaml_tags_with_two_values_on_one_line.json
  tests/Scripting/TasksFile.test.ts
Labels: scope: parsing markdown, scope: frontmatter

#3498 fix: Inline attachment previews are now visible in Live Preview and Reading modes
  .gitignore
  src/Obsidian/InlineRenderer.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  src/Renderer/TaskLineRenderer.ts
  src/main.ts
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Renderer/RenderingTestHelpers.ts
  tests/Renderer/TaskLineRenderer.test.ts
  tests/__mocks__/obsidian.ts
Labels: scope: rendering of tasks

#3526 feat: Add `outlinksInProperties` and `outlinksInBody` - `outlinks` returns both
  src/Scripting/TasksFile.ts
  tests/Obsidian/Cache.test.ts
  tests/Scripting/TasksFile.test.ts
  tests/Task/Link.test.ts
  tests/Task/Link.test.visualise_links_outlinks.approved.md
Labels: scope: filters, scope: parsing markdown, scope: scripting
