Repository obsidian-tasks-group/obsidian-tasks, pull requests merged in 2025-01, with the labels that each got.

#3259 fix: date picker in Reading mode & searches honours first day of week
  src/ui/Menus/DatePicker.ts
Labels: scope: user interface

#3269 chore: Add development dependency on Fevol's obsidian-typings
  package.json
  yarn.lock
Labels: type: internal

#3281 Fix detect query property edits
  docs/Getting Started/Obsidian Properties.md
  docs/Scripting/Query Properties.md
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Scripting/QueryProperties.test.query_file_properties.approved.md
  tests/Scripting/QueryProperties.test.ts
Labels: scope: documentation, scope: filters, scope: scripting

#3272 fix: Handle Enter key event for IME inputs
  src/ui/Dependency.svelte
  src/ui/EditTask.svelte
Labels: scope: edit task

#3285 feat: Chinese translation of Settings and related areas
  contributing/Translation/About Translation.md
  contributing/Welcome.md
  i18next-parser.config.js
  package.json
  src/Config/CustomStatusModal.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Config/settingsConfiguration.json
  src/Statuses/StatusRegistryReport.ts
  src/Statuses/StatusSettingsReport.ts
  src/i18n/i18n.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh_cn.json
  src/main.ts
  tests/Statuses/StatusRegistryReport.test.ts
  tests/Statuses/StatusSettingsReport.test.ts
  yarn.lock
Labels: scope: internationalisation

#3288 i18n: Enhance Chinese Translation
  src/i18n/locales/zh_cn.json
Labels: scope: internationalisation

#3291 fix: render non-task list items in tree
  docs/Queries/Layout.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_non_task_child.md
  src/Obsidian/FileParser.ts
  src/Task/ListItem.ts
  src/Task/TaskRegularExpressions.ts
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_non_task_child.json
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_should_render_non_task_check_box_when_global_filter_is_enabled.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Task/ListItem.test.ts
  tests/ui/EditableTask.test.ts
Labels: scope: rendering of tasks, scope: sub-tasks and super-tasks

#3292 feat: Placeholders can now contain expressions
  docs/Getting Started/Obsidian Properties.md
  docs/Quick Reference.md
  docs/What is New/Changelog.md
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
  src/Scripting/ExpandPlaceholders.ts
  src/Scripting/Expression.ts
  src/Scripting/QueryContext.ts
  src/Scripting/TaskExpression.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Labels: scope: filters, scope: scripting
